<% if user_signed_in? %>
  <%= form_for @topic, id: "add-topics-form" do |f| %>
    <%= f.text_field "title", class: "form-control flat input-hg font-size-add-topics", id: "add-topics", placeholder: "Add Topic", autofocus: true %>
    <%= f.submit "Add", class: "form-control btn-primary flat", type: "hidden" %>
  <% end %>
  <br />

  <div class="topic-title">Topics</div>
  <% @topics.each do |top| %>
    <div class="container-fluid">
      <label class="checkbox font-size-topics" for="checkbox1">
        <input type="checkbox" value="" id="checkbox-<%= top.id %>" data-toggle="checkbox"><span class="specific-topic-title" id="list-topics"><%= top.title %></span> <strong><em>by</em></strong> <%= top.user.name %>

        <% if current_user && (top.user == current_user) %>
          <span class="right">
            <%= link_to top, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash change-size"></span>
            <% end %>
          </span>
        <% end %>
      </label>
    </div>
  <% end %>
<% end %>
<p class="font-size-topics"></p>



