<!DOCTYPE html>
<html>
<head>
  <title>Breakout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

      <div class="right">
        <div class="logo-space">
          <h1><span class="overline-title">brea</span><span class="underline-title">KouT</span></h1>
        </div>
      </div>
      <br />

      <div class="left log-out-font-size">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>

      <br />
    <%= yield %>

  </div>

</body>
</html>
