<!DOCTYPE html>
<html>
<head>
  <title>Breakout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="background-color">
  <div class="container-fluid">

    <div class="right">
      <div class="logo-space">
        <h1><span class="overline-title">brea</span><span class="underline-title">KouT</span></h1>
      </div>
    </div>


    <div class="left">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "log-out-font-size" %>
        <br /> <br /> <br />
        <%= form_for @topic do |f| %>
          <%= f.text_field "title", class: "form-control flat input-hg font-size-add-topics", placeholder: "Add Topic", autofocus: true %>
          <%= f.submit "Add", class: "form-control btn-primary flat", type: "hidden" %>
        <% end %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "log-out-font-size space" %>
        <%= link_to "Log in", new_user_session_path, class: "log-out-font-size" %>
      <% end %>
    </div>

    <br /><br />

    <%= yield %>

  </div>

</body>
</html>
