<!DOCTYPE html>
<html>
<head>
  <title>Breakout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults %>
</head>
<body class="background-color">
  <div class="container-fluid">

    <%= link_to render(:partial=>'layouts/logo'), root_path %>

    <div class="left">
      <% if user_signed_in? %>
        <%= link_to current_user.name, edit_user_registration_path, class: "log-out-font-size" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "log-out-font-size space" %>
        <%= link_to "Log in", new_user_session_path, class: "log-out-font-size" %>
      <% end %>
    </div>

    <br /><br />

    <%= yield %>

  </div>

</body>
</html>
